body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 240, 216);
}
header
{
    background-color: #333333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
ul.Navbar
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333333; 
    overflow: hidden;
}
li.Navbar
{
    float: left;
}
li.Navbar a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.Navbar a:hover
{
    background-color: #111111;
}
main
{
    text-align: left;
    padding-left: 200px;
    padding-top: 50px;

}
h3
{
    text-decoration: underline;
}
footer
{
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
