// ===== Button Styles =====

.hero-btn-wrapper {
  width: 275px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-medium;
  margin: 55px 0 0 0;
  z-index: 25;
}

//==== Start Button =====

.start-btn {
  width: 155px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius-large;
  border: none;
  padding: 5px 7px 5px 20px;
  background-color: $default-text-color;
  color: $default-white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: $box-shadow-light;
}

.start-btn img {
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: $border-radius-large;
  background-color: $default-white;
}


//====Restart Button ====== 

.restart-btn {
  width: 155px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius-large;
  border: 2px solid $default-border-color;
  padding: 5px 7px 5px 20px;
  background-color: $primary-component-bg-color;
  color: $default-text-color;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: $box-shadow-light;
}

.restart-btn img {
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: $border-radius-large;
  background-color: $default-white;
}

//===== CTA-Start-Btn=====

.cta-start-btn {
  width: 155px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-large;
  border: none;
  padding: 5px;
  background-color: $footer-bg-color;
  color: $secondary-text-color;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: $cta-box-shadow-light;
}
