// ===== Dark Mode Variablen =====

$darkmode-primary-component-bg-color: #20252b;
$darkmode-secondary-component-bg-color: #2a3138;
$darkmode-primary-border-color: #444444;
$darkmode-footer-bg-color: #ffc400;
$darkmode-default-white: #ffffff;
$darkmode-default-text-color: #f7f7f7;
$darkmode-footer-text-color: #f7f7f7;
$darkmode-button-bg-color: #E6B832;
$darkmode-button-text-color: #f7f7f7;

// ===== Dark Mode Styles =====

.darkmode-toggle-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 75%;
      height: 75%;
    }

    button {
      width: 100%;
      height: 100%;
      border: none;
      background-color: var($secondary-component-bg-color);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      cursor: pointer;
      transition: $transition-default;

      &:hover {
        opacity: 0.8;
      }
    }
  }
.darkmode {

  // ===== Dark Mode Toggle Icons =====
  .darkmode-toggle {
    svg:first-child {
      display: block;
    }

    svg:last-child {
      display: none;
    }
  }

  // ===== Dark Mode Socials =====

  .socials-container img {
    filter: invert(0%);
  }
}

// ===== Light Mode Toggle Icons =====

.darkmode-toggle {
  svg:first-child {
    display: none;
  }
}

// ===== Light Mode Socials (invertiert) =====

.socials-container img {
  filter: invert(100%);
}
