// ===== Dark Mode Variables =====

$darkmode-primary-component-bg-color: #201e1e;
$darkmode-secondary-component-bg-color: #1b1a1a;
$darkmode-button-bg-color: #3f3f3e57;

$darkmode-primary-footer-color: #ffffff;
$darkmode-primary-border-color: #e5e5e5;
$darkmode-footer-bg-color: #181813;
$darkmode-default-border-color: #ffffff;
$darkmode-cta-blur-color: #242222;


$darkmode-default-text-color: #ffffff;
$darkmode-footer-text-color: #9e8f8f;
$darkmode-footer-link-color: #f1d9d9;
$darkmode-button-link-color: #ffffff;
$darkmode-button-text-color: #ffffff;
$darkmode-secondary-text-color: #ffffff;
$darkmode-tertiary-text-color: #bbacac;
$darkmode-cta-secondary-text-color: #f3f4f6;

$darkmode-default-white: #000000;



// ===== Dark Mode Styles =====

.darkmode-toggle-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 75%;
      height: 75%;
    }

    button {
      width: 100%;
      height: 100%;
      border: none;
      background-color: var($secondary-component-bg-color);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      cursor: pointer;
      transition: $transition-default;

      &:hover {
        opacity: 0.8;
      }
    }
  }
.darkmode {

  // ===== Dark Mode Toggle Icons =====
  .darkmode-toggle {
    svg:first-child {
      display: block;
    }

    svg:last-child {
      display: none;
    }
  }

  // ===== Dark Mode Socials =====

  .socials-container img {
    filter: invert(0%);
  }

  


  header{
    background-color: $darkmode-primary-component-bg-color;
  }
  .navigation-link,.navigation-option{
    a{
    color: $darkmode-default-text-color;
    }
  }

  .login-btn{
    color: $darkmode-default-text-color;
  }

  main{
    background-color: $darkmode-secondary-component-bg-color;
    color: $darkmode-default-text-color;
  }

  .hero-slogan{
    color: $darkmode-secondary-text-color;
  }

  .hero-description{
    color: $darkmode-tertiary-text-color;
  }

  .social-proof-container{
    background-color: $darkmode-secondary-component-bg-color;
    p{
      color: $darkmode-secondary-text-color;
    }
    a{
      color:$darkmode-secondary-text-color;
    }
    
  }
  .feature-section{
    background-color: $darkmode-secondary-component-bg-color;
  }
  .feature-info-title{
    color: $darkmode-secondary-text-color;
  }
  .feature-info-description{
    color: $darkmode-tertiary-text-color;
  }

  .blur-container{
    background-color:$darkmode-cta-blur-color;
  }

  footer{
    background-color: $darkmode-footer-bg-color;
    .footer-navigation li:first-child{
      color: $darkmode-footer-link-color;
    }
    .footer-navigation{
      a{
        color: $darkmode-footer-text-color;
      }
    }
  }
.darkmode-toggle-container{
  button{
    background-color: $darkmode-primary-component-bg-color;
  }
}
}

// ===== Light Mode Toggle Icons =====

.darkmode-toggle {
  svg:first-child {
    display: none;
  }
}

// ===== Light Mode Socials (invertiert) =====

.socials-container img {
  filter: invert(100%);
}

// ===== Dark Mode Toggle Button =====

.darkmode-toggle-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 75%;
    height: 75%;
  }

  button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: $primary-component-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: $transition-default;

    &:hover {
      opacity: 0.8;
    }
  }

  
}
