footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: $spacing-large $spacing-large 0 $spacing-large;
  background-color: $primary-footer-color;
  z-index: 50;


.footer-start-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-footer;
  margin: $spacing-medium 0 $spacing-xl 0;
  padding: 0 $spacing-footer 0 $spacing-medium;
}

.footer-logo-container {
  width: 250px;
  height: auto;
  overflow: hidden;
}

.footer-logo-container img {
  width: 100%;
  height: 100%;
}

.footer-navigation {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: $spacing-footer;
}

.footer-navigation ul li {
  list-style-type: none;
  margin: 0 0 $spacing-small 0;
}

.footer-navigation li:first-child {
  color: $footer-link-color;
}

.footer-navigation a {
  text-decoration: none;
  color: $default-text-color;
}

.footer-end-container {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid $default-border-color;
  padding: 0 $spacing-medium;
}

.legals-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 75px;
}

.policy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 17px;

  a {
    text-decoration: none;
    color: $footer-link-color;
  }
}

.socials-container img {
  width: 25px;
  height: 25px;
}

.copyright-container {
  color: $footer-link-color;
}
}