@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

// ===== Reset & Base =====

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// ===== Main Content =====

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin-top: $header-height;
  overflow: hidden;
}

// ===== Content Container =====

.content-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: $header-height;
  padding: $spacing-large;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  flex: 1;
  margin-top: -$spacing-footer;
  margin-bottom: $spacing-footer * 2.1;

  ol,
  ul {
    margin-left: $spacing-large;
    margin-bottom: $spacing-large;
  }

  a {
    text-decoration: none;
    color: $default-text-color;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: $transition-default;
  }
}

// ===== Start Screen =====

.startscreen-content {
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-left: 55px;
    width: 90%;
    display: flex;
    text-align: center;
    padding-bottom: 1%;
    font-size: 3rem;
  }

  p {
    margin-left: 6%;
    width: 90%;
    display: flex;
    font-size: 2rem;
    text-align: start;
  }
}

.startpage-top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $primary-component-bg-color;
  gap: $spacing-large;

  img {
    width: 320px;
    height: auto;
    border-radius: $border-radius-large;
  }
}

// ===== Pulse Animation =====

.pulse-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $button-link-color;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// ===== Hero Section =====

.hero-section {
  width: 100%;
  min-height: 57.5vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 $spacing-xl;
}

.info-popup-container {
  width: 360px;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $spacing-medium;
  border-radius: $border-radius-large;
  border: 1.5px solid $button-link-color;
  margin: $spacing-xl 0;
  background-color: $button-bg-color;
  color: $button-link-color;
}

.hero-text-container {
  width: auto;
  height: auto;
  margin: $spacing-xl 0;
}

.hero-title {
  color: $button-link-color;
  font-size: 35px;
  font-weight: 650;
}

.hero-slogan {
  color: $secondary-text-color;
  font-size: 18px;
  margin: $spacing-small 0 $spacing-medium 0;
}

.hero-description {
  color: $tertiary-text-color;
  font-size: 16px;
  line-height: 1.3;
}

.simulator-preview-container {
  width: 600px;
  height: auto;
  overflow: hidden;
}

.simulator-preview-container img {
  width: 100%;
  height: 100%;
}

.circle-small {
  width: 275px;
  height: 275px;
  position: absolute;
  top: -35px;
  right: -45px;
  border-radius: 50%;
  background-color: $button-bg-color;
  z-index: -1;
}

.circle-large {
  width: 475px;
  height: 475px;
  position: absolute;
  top: 275px;
  left: -45px;
  border-radius: 50%;
  background-color: $button-bg-color;
}

.social-proof-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $default-border-color;
  border-bottom: 1px solid $default-border-color;
  background-color: $primary-component-bg-color;
  z-index: 10;
}

.social-proof-container p {
  margin: 0 $spacing-footer;
  font-size: 18px;
  color: $secondary-text-color;
}

.social-proof-container a {
  text-decoration: none;
  color: $secondary-text-color;
  font-size: 18px;
  font-weight: 500;
}

// ===== Feature-Section =====

.feature-section {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: $spacing-large $spacing-footer;
  background-color: $default-white;
  overflow: hidden;
  z-index: 5;
}

.feature {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-xl;
  margin: $spacing-xl 0;
  z-index: 25;
}

.feature-image-container {
  width: 450px;
  height: auto;
  overflow: hidden;
}

.feature-image-container img {
  width: 100%;
  height: 100%;
  border-radius: $border-radius-tiny;
  object-fit: cover;
}

.feature-info-container {
  width: 550px;
  height: auto;
}

.feature-info-title {
  color: $secondary-text-color;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 $spacing-medium 0;
}

.feature-info-description {
  color: $tertiary-text-color;
  font-size: 16px;
  line-height: 1.3;
}

.feature-circle-small {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 245px;
  left: -25px;
  border-radius: 50%;
  background-color: $button-bg-color;
  z-index: -1;
}

.feature-circle-medium {
  width: 275px;
  height: 275px;
  position: absolute;
  top: -45px;
  left: 315px;
  border-radius: 50%;
  background-color: $button-bg-color;
  z-index: -1;
}

.feature-circle-large {
  width: 375px;
  height: 375px;
  position: absolute;
  bottom: -45px;
  right: -65px;
  border-radius: 50%;
  background-color: $button-bg-color;
  z-index: -1;
}

//===== Call-To-Action-Section =====

.call-to-action-section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: $spacing-xl 0;
}

.blur-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $cta-blur-color;
  filter: blur(25px);
  z-index: 1;
}

.call-to-action-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 $spacing-large;
  z-index: 5;
}

.call-to-action-title {
  color: $default-white;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 $spacing-medium 0;
}

.call-to-action-description {
  color: $cta-secondary-text-color;
  font-size: 16px;
  line-height: 1.3;
  margin: 0 0 $spacing-xl 0;
}

.cta-circle-small {
  width: 175px;
  height: 175px;
  position: absolute;
  top: -35px;
  right: -45px;
  border-radius: 50%;
  background-color: $button-bg-color;
  z-index: -1;
}

.cta-circle-medium {
  width: 275px;
  height: 275px;
  position: absolute;
  bottom: -125px;
  left: -45px;
  border-radius: 50%;
  background-color: $button-bg-color;
  z-index: -1;
}

// ===== Footer =====

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: $spacing-large $spacing-large 0 $spacing-large;
  background-color: $primary-footer-color;
  z-index: 50;
}

.footer-start-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-footer;
  margin: $spacing-medium 0 $spacing-xl 0;
  padding: 0 $spacing-footer 0 $spacing-medium;
}

.footer-logo-container {
  width: 250px;
  height: auto;
  overflow: hidden;
}

.footer-logo-container img {
  width: 100%;
  height: 100%;
}

.footer-navigation {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: $spacing-footer;
}

.footer-navigation ul li {
  list-style-type: none;
  margin: 0 0 $spacing-small 0;
}

.footer-navigation li:first-child {
  color: $footer-link-color;
}

.footer-navigation a {
  text-decoration: none;
  color: $default-text-color;
}

.footer-end-container {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid $default-border-color;
  padding: 0 $spacing-medium;
}

.legals-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 75px;
}

.policy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 17px;

  a {
    text-decoration: none;
    color: $footer-link-color;
  }
}

.socials-container img {
  width: 25px;
  height: 25px;
}

.copyright-container {
  color: $footer-link-color;
}
