// ===== Farben =====
$primary-component-bg-color: #f7f7f7;
$secondary-component-bg-color: #eeeeee;
$primary-border-color: #e5e5e5;
$footer-bg-color: #fbc926;
$default-white: #ffffff;
$default-text-color: #252525;
$footer-text-color: #000000;
$button-bg-color: #ffd23de8;
$button-link-color: #ebb400;
$button-text-color: #252525;
$default-border-color: #e5e5e5;

// ===== Abstände =====
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 25px;
$spacing-xl: 35px;

// ===== Größen =====
$header-height: 75px;
$footer-height: 75px;
$border-radius-small: 13px;
$border-radius-large: 15px;

// ===== Schatten =====
$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-header: 0px 2px 4px rgba(0, 0, 0, 0.2);

// ===== Transitions =====
$transition-default: background-color 0.2s ease;
