// ===== Colors =====
$primary-component-bg-color: #f7f7f7;
$secondary-component-bg-color: #eeeeee;
$primary-footer-color: #f1f1f1;
$primary-border-color: #e5e5e5;
$footer-bg-color: #fbc926;
$default-white: #ffffff;
$default-text-color: #252525;
$footer-text-color: #000000;
$footer-link-color: #a1a1a1;
$button-bg-color: #ffd23d57;
$button-link-color: #ebb400;
$button-text-color: #252525;
$default-border-color: #e5e5e5;
$secondary-text-color: #2f2f2f;
$tertiary-text-color: #4f4f4f;
$cta-blur-color: #5b6780;
$cta-secondary-text-color: #f3f4f6;

// ===== Spacings =====
$spacing-small: 7px;
$spacing-medium: 13px;
$spacing-large: 25px;
$spacing-xl: 35px;
$spacing-footer: 75px;

// ===== Sizes =====
$header-height: 75px;
$footer-height: 75px;
$border-radius-tiny: 7px;
$border-radius-small: 13px;
$border-radius-large: 35px;

// ===== Box-Shadows =====
$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-header: 0px 2px 4px rgba(0, 0, 0, 0.2);
$cta-box-shadow-light: 0 0 10px rgba(235, 180, 0, 0.6);

// ===== Transitions =====
$transition-default: background-color 0.2s ease;

