:root {
  --primary-component-bg-color: #f7f7f7;
  --secondary-component-bg-color: #eeeeee;
  --primary-border-color: #e5e5e5;
  --footer-bg-color: #181b21;
  --default-white: #ffffff;
  --default-text-color: #252525;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
}

header {
  width: 100%;
  height: 75px;
  position: fixed;
  background-color: var(--primary-component-bg-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

.start-navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.navigation-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}

.navigation-link {
  text-decoration: none;
  color: var(--default-text-color);
}

main {
  width: 100%;
  height: calc(100vh - 75px - 75px);
  position: relative;
  padding: 75px 0px 75px 0px;
}

footer {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 25px;
  background-color: var(--footer-bg-color);
  z-index: 50;
}

.simulator-footer {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 0px 25px;
  background-color: var(--default-white);
  z-index: 50;
}

.copyright-container {
  color: var(--footer-text-color);
}

/*---Simulator-Components---*/

.coins-container {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 10px 0px;
  border: 2px solid var(--primary-border-color);
  background: linear-gradient(
    135deg,
    var(--primary-border-color),
    var(--default-white),
    var(--primary-component-bg-color)
  );
}

.aspect-menu-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  margin: 25px 0px;
}

.aspect-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  border: 2px solid var(--primary-border-color);
  background: linear-gradient(
    135deg,
    var(--primary-border-color),
    var(--default-white),
    var(--primary-component-bg-color)
  );
  cursor: pointer;
}

.aspect-container-shifted {
  margin: 0px 0px 0px 300px;
}

.aspect-menu {
  display: none;
}

.aspect-menu-active {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 75px;
  left: 0px;
  bottom: 75px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-component-bg-color);
  z-index: 25;
}

.aspect-menu-title {
  font-size: 18px;
  font-weight: 550;
  margin: 17px auto 10px auto;
  text-align: center;
  color: var(--default-text-color);
}

.wellbeing-chart-container {
  width: 750px;
  height: auto;
}

.global-comparison-app-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 2px solid var(--primary-border-color);
  background: linear-gradient(
    135deg,
    var(--primary-border-color),
    var(--default-white),
    var(--primary-component-bg-color)
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tutorial-app-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 2px solid var(--primary-border-color);
  background: linear-gradient(
    135deg,
    var(--primary-border-color),
    var(--default-white),
    var(--primary-component-bg-color)
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.global-comparison-wrapper {
  width: 1050px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-component-bg-color);
}

.global-comparison-wrapper-inactive {
  display: none;
}

.global-comparison-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12.5px;
  border-bottom: 2px solid var(--primary-border-color);
  background-color: var(--primary-component-bg-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.global-comparison-header img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.global-comparison-container {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

.global-comparison-chart-container {
  width: 750px;
  height: auto;
}

.nation-btn-wrapper {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nation-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.nation-btn-element {
  width: 125px;
  height: 40px;
  border-radius: 25px;
  outline: none;
  border: 2px solid var(--primary-border-color);
  background: linear-gradient(
    135deg,
    var(--primary-border-color),
    var(--default-white),
    var(--primary-component-bg-color)
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.event-container {
  width: 100%;
  height: calc(100% - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-width: none; /*---Firefox---*/
}

.event-container::-webkit-scrollbar {
  /*---Chrome, Safari, MS Edge---*/
  display: none;
}

.event-card {
  width: 250px;
  height: auto;
  padding: 5px 10px 10px 10px;
  border-radius: 13px;
  background-color: #eceff6;
  color: var(--default-text-color);
}

.event-card:hover {
  background-color: #e1e5ec;
}

.event-card-highlighted {
  background-color: #e1e5ec;
}

.event-card-header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--footer-bg-color);
  margin: 0px 0px 10px 0px;
}

.event-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.event-description {
  width: 85%;
}

.event-image {
  width: 35px;
  height: 35px;
  padding: 3px;
}

.info-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.event-card-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
  margin: 0px 0px 7px 0px;
}

.event-costs {
  font-weight: 550;
  margin: 0px 25px 0px auto;
}

.event-btns {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.accept-btn {
  width: 105px;
  height: 35px;
  border-radius: 17px;
  border: 1px solid rgb(140, 224, 13);
  background-color: rgb(148, 236, 15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.reject-btn {
  width: 105px;
  height: 35px;
  border-radius: 17px;
  border: 1px solid rgb(200, 0, 0);
  background-color: rgb(230, 0, 0);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.hide-reject-btn {
  display: none;
}

/*---Mails---*/

.mail-element {
  width: 550px;
  height: 250px;
  background-color: red;
}
