@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-component-bg-color: #f7f7f7;
  --secondary-component-bg-color: #eeeeee;
  --primary-border-color: #e5e5e5;
  --footer-bg-color: #FBC926;
  --default-white: #ffffff;
  --default-text-color: #252525;
  --footer-text-color: #000000;
}

.darkmode {
  --primary-component-bg-color: #363636;
  --secondary-component-bg-color: #221f1f;
  --primary-border-color: #444444;
  --footer-bg-color: #221f1f;
  --default-white: #ffffff;
  --default-text-color: #f7f7f7;
  --footer-text-color: #f7f7f7;
}

.darkmode .darkmode-toggle svg:first-child {
  display: block;
}
.darkmode .darkmode-toggle svg:last-child {
  display: none;
}
.darkmode-toggle svg:first-child {
  display: none;
}
.socials-container img {
  filter: invert(100%);
}
.darkmode .socials-container img {
  filter: invert(0%);
}

.socials-container img {
  filter: invert(100%);
}
.darkmode .socials-container img {
  filter: invert(0%);
}

.darkmode-toggle-container {
  width: 25px;
  height: 25px;
}

.darkmode-toggle-container svg {
  display: flex;
  position: fixed;
  justify-content: center;
  right: 50px;
}

.darkmode-toggle svg {
  fill: var(--default-text-color);
}

.darkmode-toggle-container button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--primary-component-bg-color);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
}

header {
  width: 100%;
  height: 75px;
  position: fixed;
  background-color: var(--primary-component-bg-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 25px;
  gap: 250px;
}

.start-navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.navigation-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}

.navigation-link {
  text-decoration: none;
  color: var(--default-text-color);
}

.logo-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.15);
}

main {
  background-color: var(--primary-component-bg-color);
  color: var(--default-text-color);
  width: 100%;
  height: calc(100% - 75px);
  position: relative;
  padding: 75px 0px 75px 0px;
  justify-content: center;
}

.content-container ol,
.content-container ul {
  margin-left: 25px;
  margin-bottom: 25px;
}

.content-container a {
  text-decoration: none;
  color: var(--default-text-color);
}

.content-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

footer {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 25px;
  background-color: var(--footer-bg-color);
  z-index: 50;
}

.footer-end-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legals-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 75px;
}

.policy-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
}

.policy-container a {
  color: var(--footer-text-color);
}

.socials-container img {
  width: 25px;
  height: 25px;
}

.copyright-container {
  color: var(--footer-text-color);
}

.startscreen-content h2 {
  margin-left: 30%;
  display: flex;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1%;
}
.startscreen-content p {
  margin-left: 20%;
  display: flex;
  font-size: 2rem;
  text-align: center;
}
.startscreen-content button {
  display: block;
  margin:auto;
  width: 50%;
  height: 50px;
  margin-top: 5%;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--secondary-component-bg-color);
  border-radius: 15px;
  cursor: pointer;
}

.start-btn {
  display: block;
  justify-content: space-between;
  align-items: center;
  border-radius: 13px;
  border: none;
  padding: 5px 7px 5px 20px;
  background-color: var(--footer-bg-color);
  color: var(--default-text-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.start-btn img {
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: 9px;
}

.start-btn:hover {
  background-color: var(--default-text-color);
}

.restart-btn {
  display: block;
  justify-content: space-between;
  align-items: center;
  border-radius: 13px;
  border: 2px solid var(--default-border-color);
  padding: 5px 7px 5px 20px;
  background-color: var(--footer-bg-color);
  color: var(--default-text-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.restart-btn img {
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: 9px;
}

.restart-btn:hover {
  background-color: var(--default-text-color);
}
